<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- CDN or include Bootstrap library-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Include library Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline@0.1.3/src/chartjs-plugin-trendline.min.js"></script>


</head>
<body class="bg-dark">

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-white">Dashboard - {{ page_label }}</h1>
            <a href="{% url 'home' days_range=7 currencies=currencies %}" class="btn {% if page_label == 'Week' %}btn-info{% else %}btn-secondary{% endif %}">Week</a>
            <a href="{% url 'home' days_range=30 currencies=currencies %}" class="btn {% if page_label == 'Month' %}btn-info{% else %}btn-secondary{% endif %}">Month</a>
            <a href="{% url 'home' days_range=365 currencies=currencies %}" class="btn {% if page_label == 'Year' %}btn-info{% else %}btn-secondary{% endif %}">Year</a>
        </div>
    </div>
    <div class="row justify-content-center">
        {% for currency, rates in data.items %}
            <div class="col-md-10 col-lg-6">
                <canvas id="chart-{{ currency }}"></canvas>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    {% for currency, rates in data.items %}
        var ctx = document.getElementById("chart-{{ currency }}");
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ days_labels|safe }}, {# " safe" for not escaping quote #}
                datasets: [{
                    label: "{{ currency }}",
                    data: {{ rates|safe }},
                    fill: false,
                    borderColor: 'rgb(255, 128, 128)',
                    trendlineLinear: {
                        style: "#9fd6f4",
                        width: 3
                    }
                }]
            }
        });
    {% endfor %}
</script>
</body>
</html>